<%- model_class = Album -%>

<div id="tag_cloud">
  <% tag_cloud Album.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<div class="page-header">
  <h1>Lista albumów muzycznych</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th width = "1">Okładka</th>
      <th><%= sortable "tytul", "Tytuł" %></th>
      <th><%= sortable "wykonawca", "Wykonawca" %></th>
      <th>Gatunek</th>
      <th><%= sortable "rok_powstania", "Rok wydania" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    
      <% i = 0 %>
      <% colortab = [ '#F2F2F2', '#FFFFFF' ] %>
      <% @albums.each do |album| %>
    
      <tr style="background-color: <%= colortab[i % 2] %>;">
        <td rowspan = "2">tutaj będą kiedyś okładki ;)</td>
        <td><%= link_to album.tytul, album %></td>
        <td><%= album.wykonawca %></td>
        <td><%= raw album.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
        <td><%= album.rok_powstania %></td>
        <td><%= link_to 'Edytuj', edit_album_path(album), :class => "btn" %> 
            <%= link_to 'Usuń', album, method: :delete, data: { confirm: 'Jesteś pewien?' }, :class => "btn" %></td>
      </tr>
      <tr style="background-color: <%= colortab[i % 2] %>;">
        <td colspan = "5"><%= album.opis %></td>
      </tr>
    <% i = i + 1 %>
    <% end %>

  </tbody>
</table>

<br/><br/>

<%= link_to 'Dodaj pozycję', new_album_path, class: "nowy", :class => "btn" %>
